@import "reset.css";

/*Header Mobile and Desktop*/
header.header-container {
    background-color: #1c2845;
    padding: 2rem 3rem;
}

nav.navbar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

/*Desktop Header*/

.desktop-categories-list {
    display: flex;
    gap: 2rem;

    list-style: none;
}

.desktop-categories-list li {
    font-size: 2rem;
    text-transform: uppercase;
}

.desktop-categories-list li a {
    text-decoration: none;
    color: #ada799;
}

.desktop-categories-list li a:hover {
    text-decoration: underline;
}

/*Mobile Header*/

.mobile-actions * {
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;

    transition: 1s;
}

.mobile-actions *:hover {
    background-color: #ada799;
}

.mobile-actions {
    display: none;
}

.hamburguer {
    display: none;
}

/* Sections */
/*About Us Section*/
.about-us {
    width: 100%;
    padding: 4rem 3rem;
}

.about-us-title {
    margin-bottom: 1rem;
    font-size: 5.6rem;
    max-width: 20rem;
    color: #1c2845;
    line-height: 5rem;

    text-transform: uppercase;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
}

.about-us-p {
    font-size: 2rem;
    max-width: 45rem;
    color: #1c2845;
}

/*Products and Carousel Section*/

.our-products {
    padding: 2rem 3rem;
    width: 100%;
    background-color: #1c2845;

    display: flex;
    align-items: center;
}

.products-title {
    margin-bottom: 1rem;
    font-size: 5.6rem;
    max-width: 20rem;
    color: #ada799;
    line-height: 5rem;

    text-transform: uppercase;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
}

.products-p {
    font-size: 2rem;
    max-width: 20rem;
    color: #ada799;
}

.products-container {
    position: relative;
    max-width: 100%;
}

.wrapper {
    overflow-x: auto;
    scrollbar-width: none;
}

button {
    position: absolute;
    right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 4rem;
    line-height: 25rem;
    width: 3rem;
    text-align: center;
    color: #1c2845;

    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

button:last-of-type {
    right: 0;
    left: auto;
}

.carousel img {
    width: 35rem;
}

.carousel {
    display: flex;
    flex-flow: row nowrap;
}

/*Artists Section*/

.our-artists {
    padding: 2rem 3rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.artists-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.artist-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.artist-name {
    font-size: 2rem;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    letter-spacing: 0.16rem;
    color: #1c2845;
}

.artist-p {
    font-size: 1.2rem;
    font-weight: 400;
}

.our-artists-title {
    font-size: 4.6rem;
    max-width: 20rem;
    color: #1c2845;
    line-height: 4rem;

    text-transform: uppercase;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
}

/*Hide and Show Class*/
.hide {
    display: none !important;
}

@media screen and (max-width: 730px) {
    .desktop-categories-list {
        display: none;
    }

    .mobile-actions {
        display: flex;
        gap: 1rem;
    }

    .hamburguer {
        display: block;
    }

    .mobile-categories-list {
        padding-block: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        list-style: none;
    }

    .mobile-categories-list li {
        font-size: 2rem;
        text-transform: uppercase;
    }

    .mobile-categories-list li a {
        text-decoration: none;
        color: #ada799;

        transition: 1s;
    }

    .mobile-categories-list li a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 430px) {
    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-us-title {
        font-size: 6rem;
    }

    .about-us-p {
        font-size: 2.2rem;
    }

    .products-title {
        font-size: 5rem;
        line-height: 4.5rem;
    }

    .products-p {
        font-size: 2rem;
    }

    .our-artists-title {
        font-size: 5.2rem;
        line-height: 4.5rem;
    }

    .artist-name {
        font-size: 2.5rem;
    }

    .artist-p {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 414px) {
    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-us-title {
        font-size: 5.8rem;
    }

    .about-us-p {
        font-size: 2rem;
    }

    .our-products {
        gap: 1rem;
        justify-content: center;
    }

    .products-title {
        font-size: 4.2rem;
        line-height: 4rem;
    }

    .products-p {
        font-size: 1.8rem;
        max-width: 20rem;
        color: #ada799;
    }

    .products-container {
        position: relative;
        max-width: 100%;
    }

    .our-artists-title {
        font-size: 5rem;
        max-width: 50rem;
        line-height: 4.5rem;
    }
}

@media screen and (max-width: 412px) {
    .our-artists-title {
        font-size: 4.8rem;
    }
}

@media screen and (max-width: 390px) {
    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-us-title {
        font-size: 5.8rem;
    }

    .about-us-p {
        font-size: 1.9rem;
    }

    .our-products {
        gap: 1rem;
        justify-content: center;
    }

    .products-title {
        font-size: 4rem;
        line-height: 4rem;
    }

    .products-p {
        font-size: 1.8rem;
        max-width: 20rem;
        color: #ada799;
    }

    .products-container {
        position: relative;
        max-width: 100%;
    }

    .our-artists-title {
        font-size: 4.3rem;
        max-width: 50rem;
        line-height: 4rem;
    }
}

@media screen and (max-width: 375px) {
    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-us-title {
        font-size: 5.6rem;
    }

    .about-us-p {
        font-size: 2.2rem;
    }

    .our-products {
        gap: 1rem;
        justify-content: center;
    }

    .products-title {
        font-size: 4.2rem;
        word-wrap: break-word;
        line-height: 4rem;

        margin: 0;
    }

    .products-p {
        font-size: 2rem;
    }

    .our-artists-title {
        font-size: 4.2rem;
        max-width: 50rem;
        line-height: 4rem;
    }
}

@media screen and (max-width: 360px) {
    .products-title {
        font-size: 3rem;
        line-height: 3rem;
    }

    .products-p {
        font-size: 1.6rem;
    }

    .our-artists-title {
        font-size: 3.5rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 735px) {
    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        text-align: center;
    }

    .about-us-title {
        font-size: 6.2rem;
        max-width: none;
        margin: 0;
    }

    .about-us-p {
        font-size: 2rem;
    }

    .our-products {
        display: flex;
        flex-direction: column;

        text-align: center;
    }

    .products-title {
        font-size: 5.2rem;

        max-width: none;
    }

    .products-p {
        font-size: 2rem;

        max-width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .our-products {
        display: flex;
        flex-direction: column;

        text-align: center;
    }
    .products-p {
        max-width: 50%;
    }

    .our-artists-title {
        font-size: 5.2rem;
        line-height: 4.5rem;
    }

    .artist-name {
        font-size: 2.6rem;
    }

    .artist-p {
        font-size: 1.5rem;

        max-width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    .about-us-title {
        font-size: 6.2rem;
        max-width: none;
        margin: 0;
    }

    .about-us-p {
        font-size: 2.2rem;
    }

    .products-p {
        font-size: 2rem;

        max-width: 35%;
    }

    .wrapper {
        overflow-x: initial;
        scrollbar-width: initial;
    }

    .carousel img {
        width: 36rem;
    }

    .carousel {
        display: flex;
        flex-flow: row nowrap;
    }
}

@media screen and (width > 1440px) {
    .about-us-title {
        font-size: 6.2rem;
        max-width: none;
        margin: 0;
    }

    .about-us-p {
        font-size: 2.2rem;
    }

    .products-p {
        font-size: 2rem;

        max-width: 25%;
    }

    .wrapper {
        overflow-x: initial;
        scrollbar-width: initial;
    }

    .carousel img {
        width: 25rem;
        border-radius: 1rem;
    }

    .carousel {
        place-content: center;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, max-content);
        background-color: #1c2845;
        padding-bottom: 3rem;
    }
}
